@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    /* variables */
    --white: #fff;
    --black: #000;
    --gy-50: rgb(246 248 253);
    --gy-100: rgb(228 233 242);
    --gy-300: rgb(195 202 217);
    --gy-500: rgb(105 112 125);
    --gy-950: rgb(29 32 38);
    --orange-300: rgb(255 171 106);
    --orange-500: rgb(255 126 27);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

input,
button {
    field-sizing: content;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    font: inherit;
    cursor: pointer;
}

img {
    width: 100%;
}

body {
    background-color: var(--white);
    color: var(--gy-950);
}

.text-h1 {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--gy-950);
}

.text-comp {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--gy-500);
    text-transform: uppercase;
}

.text-3-b {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-2 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-3-r {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--gy-500);
}

.text-4 {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 2px;
    font-weight: 400;
}

.text-5 {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
}


.text-6 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.85px;
    font-weight: 700;
}

.cart {
    display: none;
    flex-direction: column;
    gap: 0.625rem;
    position: absolute;
    top: 5.75rem;
    right: -4.25rem;
    width: 22.5rem;
    height: 16rem;
    z-index: 5;
    background-color: var(--white);
    padding: 1.5rem 0;
    border-radius: 0.625rem;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
}

/* Cart */


.cart-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cart-item {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1.5rem;
}

.sel-cart-items {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.empty {
    color: var(--gy-500);
    margin-top: 3.5rem;
    text-align: center;
}

.remove {
    width: 0.875rem;
    height: 1rem;

}

.product-img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.cart-items-price {
    display: flex;
    gap: 0.5rem;
}

.cart-container p:nth-of-type(1) {
    padding-left: 0.75rem;
    border-bottom: 1px solid var(--gy-300);
    padding-bottom: 1rem;
}

.checkout {
    padding: 1rem 6.5rem;
    background-color: var(--orange-500);
    border-radius: 0.625rem;
}


/* Main Page */

.main-page {
    position: absolute;
    top: 1.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    /* display: none; */
    /* min-height: 100%; */
    /* margin: 0 auto; */
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 18.8125rem;
    min-height: 56.25rem;
    background-color: var(--white);
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 7;
}

.lightbox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.5);
    z-index: 2;
    display: none;
}

.overlay.active {
    display: block;
}

main {
    position: relative;
    padding: 1.75rem 0 5.25rem;
    max-width: 90rem;
    width: 78.5%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--gy-100);
}

.header-int {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.logo {
    width: 8.6rem;
    height: 1.5rem;
    margin-right: 3.5rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

a {
    padding-bottom: 2.8rem;
    transition: all 150ms ease-in-out;
}

.user {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-cart {
    width: 1.36rem;
    height: 1.25rem;
    cursor: pointer;
}

.avatar {
    width: 3.125rem;
    height: 3.125rem;
    border: 3px solid inherit;
    border-radius: 50%;
}

.wrapper {
    width: 92%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    align-items: center;
}

.image-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
}

.image-container {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    height: 27.81rem;
    max-width: 28rem;
    background-image: url(./images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ctrl-btns {
    display: none;
    margin: 0 auto;
    width: 95%;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}

.ctrl-btns .right-btn {
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white);
    border-radius: 50%;

}

.ctrl-btns .left-btn {
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white);
    border-radius: 1.25rem;
}

.ctrl-btns img {
    width: 0.5rem;
    height: 0.71rem;
    stroke-width: 3px;
}

.image-slide {
    display: flex;
    gap: 2rem;
}

.product {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 0.625rem;
    overflow: hidden;
    border: 3px solid inherit;
}

.product-info {
    max-width: 27.812rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.brand-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pricing {
    display: flex;
    gap: 1rem;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.price p:nth-of-type(2) {
    color: var(--gy-500);
    text-decoration: line-through;
}

.discount {
    display: grid;
    place-content: center;
    width: 3.2rem;
    height: 1.69rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.375rem;
}

.actions {
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.num {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--gy-50);
    border-radius: 0.625rem;

    & button {
        display: block;

        & img {
            width: 0.75rem;
        }
    }

    & .plus {
        text-align: right;
    }

    & .minus {
        text-align: left;
    }
}

.num input {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
}

.num>* {
    flex: 1;
}

.actions button[type="submit"] {
    padding: 1rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--orange-500);
    border-radius: 10px;
    color: var(--gy-950);
    fill: var(--gy-950);

    & img {
        width: 17.46px;
        height: 16px;
    }

    & p {
        flex-shrink: 0;
    }
}

/* Lightbox */

.lightbox {
    width: 100%;
}

.l-image-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    max-width: 34.375rem;
    min-width: 15.625rem;
    margin: 0 auto;
}

.l-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    width: 100%;
    background-image: url(./images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.l-image-slide {
    display: flex;
    gap: 2rem;
    width: 81.45%;
    margin: 0 auto;
}

.lightbox-close {
    text-align: right;

    & button {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.l-ctrl-btns {
    position: absolute;
    display: flex;
    margin: 0 auto;
    width: 115%;
    height: 3.5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}

.l-ctrl-btns .l-right-btn {
    display: grid;
    place-content: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--white);
    border-radius: 50%;
}

.l-ctrl-btns .l-left-btn {
    display: grid;
    place-content: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--white);
    border-radius: 50%;
}

.l-product {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 0.625rem;
    overflow: hidden;
    border: 3px solid inherit;

    & img {
        width: 100%;
    }
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.close-menu {
    width: 0.84rem;
    height: 0.84rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* .l-ctrl-btns img {
    width: 0.36rem;
    height: 0.71rem;
    stroke-width: 3px;
    fill: var(--gy-950);
} */


/* active states */
nav a:hover {
    border-bottom: 4px solid var(--orange-500);
    transform-origin: left;
}

.avatar.active {
    border: 3px solid var(--orange-500);
}

.avatar.active .header-cart svg {
    color: var(--gy-500);
    fill: var(--gy-500);
    stroke: var(--gy-500);
}

.product:hover img,
.product:focus-visible img {
    opacity: 0.5;
    cursor: pointer;
}

.product.active {
    border: 3px solid var(--orange-500);

    & img {
        opacity: 0.25;
    }
}

.actions button:hover {
    opacity: 0.5;
}

/* .close-menu:hover {
    cursor: pointer;
    fill: var(--orange-500);
} */

.menu ul li:hover {
    border-left: 3px solid var(--orange-500);
    padding-left: 0.5rem;
    cursor: pointer;
}

/* .close-lightbox:hover {
    cursor: pointer;
    fill: var(--orange-500);
} */

/* svg */


svg {
    fill: currentColor;
}

svg path {
    fill: inherit;
}


.ctrl-btns button svg {
    stroke: var(--gy-950);
    fill: none;
    color: var(--gy-950);
}

.ctrl-btns button:hover svg,
.ctrl-btns button:focus-visible svg {
    stroke: var(--orange-500);
    fill: none;
    color: var(--orange-500);
}

.l-ctrl-btns button svg {
    stroke: var(--gy-950);
    fill: none;

}

.l-ctrl-btns button:hover svg {
    stroke: var(--orange-500);
    fill: none;
}

.header-cart svg {
    fill: var(--gy-950);
}

.btn svg {
    fill: var(--gy-950);
}

.lightbox-close svg {
    fill: var(--gy-950);
}

.lightbox-close:hover svg {
    fill: var(--orange-500);
}

.close-menu svg {
    fill: var(--gy-950);
}

.close-menu:hover svg {
    fill: var(--orange-500);
}



.image-container:hover {
    cursor: pointer;
}

@media(max-width:48rem) {
    /* tablet view */

    main {
        width: 80%;
    }

    .main-page {
        width: 100%;
        margin: 0 auto;
        gap: 3rem;
    }

    .ctrl-btns {
        /* width: 90%; */
        display: flex;
    }

    .burger {
        display: block;
    }

    nav ul {
        display: none;
    }

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .image-container {
        position: relative;
        border-radius: 1rem;
        max-width: 100%;
        max-height: 18.125rem;
    }

    .image-slide {
        display: none;
    }

    .product-info {
        max-width: 100%;
    }

    .actions>* {
        flex: 1;
    }

    .l-ctrl-btns .l-right-btn,
    .l-ctrl-btns .l-left-btn {
        width: 2.5rem;
        height: 2.5rem;
    }

    .l-ctrl-btns {
        width: 110%;
    }

    .menu.open {
        transform: translateX(0%);
        opacity: 1;
    }

}


@media(max-width:31rem) {

    /* mobile view */
    .text-h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        font-weight: 700;
        color: var(--gy-950);
    }

    .text-comp {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1.85px;
        font-weight: 700;
        color: var(--gy-500);
    }

    main {
        width: 100%;
    }

    .main-page {
        width: 100%;
        margin: 0 auto;
        gap: 1.5rem;
    }

    .lightbox {
        width: 100%;
        margin: 0 auto;
        max-width: 25rem;
    }

    header {
        width: 87%;
        margin: 0 auto;
    }

    .wrapper {
        gap: 1.5rem;
    }

    .user {
        gap: 1.5rem;
    }

    .avatar {
        width: 1.5rem;
        height: 1.5rem;
    }

    .image-container {
        border-radius: 0;
    }

    .product-info {
        max-width: 87%;
        margin: 0 auto;
    }

    .actions {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .num input {
        text-align: center;
        width: 100%;
        padding: 0.5rem;
    }

    .num button {
        display: block;
    }

    .plus {
        text-align: right;
    }

    .minus {
        text-align: left;
    }

    .actions button[type="submit"] {
        padding: 1rem 6.5rem;
    }

    .l-image-slide {
        gap: 1rem;
    }

    .l-image-section {
        gap: 1rem;
    }

    .l-ctrl-btns .l-right-btn,
    .l-ctrl-btns .l-left-btn {
        width: 2rem;
        height: 2rem;
    }

    .menu {
        width: 15.625rem;
    }

    .cart {
        /* display: none; */
        top: 5.25rem;
        right: 0.5rem;
    }

}