@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    /* variables */
    --white: #fff;
    --black: #000;
    --gy-50: rgb(246 248 253);
    --gy-100: rgb(228 233 242);
    --gy-300: rgb(195 202 217);
    --gy-500: rgb(105 112 125);
    --gy-950: rgb(29 32 38);
    --orange-300: rgb(255 171 106);
    --orange-500: rgb(255 126 27);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

input,
button {
    field-sizing: content;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

img {
    width: 100%;
}

/* .btn {
    display: flex;
    gap: 0.5rem;
    background-color: var(--orange-500);
    color: var(--gy-950);
    border-radius: 0.625rem;
} */

body {
    background-color: var(--white);
    color: var(--gy-950);
}

.text-h1 {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--gy-950);
}

.text-comp {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--gy-500);
    text-transform: uppercase;
}

.text-3-b {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-2 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-3-r {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--gy-500);
}

.text-4 {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 2px;
    font-weight: 400;
}

.text-5 {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
}


.text-6 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.85px;
    font-weight: 700;
}

.cart {
    display: none;
}

.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    /* display: none; */
    /* min-height: 100%; */
    /* margin: 0 auto; */
}

.menu {
    display: none;
}

.lightbox {
    display: none;
}

main {
    position: relative;
    padding-top: 1.75rem;
    max-width: 90rem;
    width: 77%;
    /* max-width: 90rem; */
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-int {
    display: flex;
    align-items: center;
}

.burger {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.logo {
    width: 8.6rem;
    height: 1.5rem;
    margin-right: 3.5rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

a {
    padding-bottom: 2rem;
    transition: all 150ms ease-in-out;
}

.user {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-cart {
    width: 1.36rem;
    height: 1.25rem;
    cursor: pointer;
}

.avatar {
    width: 3.125rem;
    height: 3.125rem;
    border: 3px solid inherit;
    border-radius: 50%;
}

.wrapper {
    width: 92%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    align-items: center;
}

.image-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
}

.image-container {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    height: 27.81rem;
    max-width: 28rem;
    background-image: url(./images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ctrl-btns {
    display: none;
    margin: 0 auto;
    width: 90%;
    height: 2.5rem;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.ctrl-btns .right-btn {
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white);
    border-radius: 50%;
}

.ctrl-btns .left-btn {
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white);
    border-radius: 1.25rem;
}

.ctrl-btns img {
    width: 0.36rem;
    height: 0.71rem;
    stroke-width: 3px;
    fill: var(--gy-950);
}

.image-slide {
    display: flex;
    gap: 2rem;
}

.product {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 0.625rem;
    overflow: hidden;
    border: 3px solid inherit;
}

.product-info {
    max-width: 27.812rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.brand-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pricing {
    display: flex;
    gap: 1rem;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.price p:nth-of-type(2) {
    color: var(--gy-500);
    text-decoration: line-through;
}

.discount {
    display: grid;
    place-content: center;
    width: 3.2rem;
    height: 1.69rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.375rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.num {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 9.81rem;
    align-items: center;
    /* justify-content: space-between; */
    place-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--gy-50);
    border-radius: 0.625rem;


    & button {
        width: 0.75rem;
        display: flex;
        align-items: center;
    }
}

/* .add-to-cart {
    width: 100%;
} */

.actions button[type="submit"] {
    padding: 1rem 4.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--orange-500);
    border-radius: 10px;
    color: var(--gy-950);
    fill: var(--gy-950);


    & img {
        width: 17.46px;
        height: 16px;
    }
}

/* active states */
nav a:hover {
    border-bottom: 4px solid var(--orange-500);
    transform-origin: left;
}

.avatar.active {
    border: 3px solid var(--orange-500);
}

.product:hover img {
    opacity: 0.5;
}

.product.active {
    border: 3px solid var(--orange-500);

    & img {
        opacity: 0.25;
    }
}

@media(max-width:48rem) {
    /* tablet view */

    .main-page {
        width: 80%;
        margin: 0 auto;
    }

    .ctrl-btns {
        /* width: 90%; */
        display: flex;
    }
}


@media(max-width:31rem) {

    /* mobile view */
    .text-h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        font-weight: 700;
        color: var(--gy-950);
    }

    .text-comp {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1.85px;
        font-weight: 700;
        color: var(--gy-500);
    }

    .main-page {
        width: 90%;
        margin: 0 auto;
    }
}